@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    color: #131318;
}
header, main{
    max-width: 992px;
    margin: auto;
    border: 1px solid black;
}
.section-title{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;

}
.section-sub-title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 13px;
    font-weight: 400;
    line-height: 26px; 
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    padding: 20px 30px;
    font-size: 13px;
    font-weight: 700;
    border: 0;
    outline: 0;
}
section{
    padding: 60px 0;
}
/* navbar  CSS*/
.nav-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo > h2{
    font-size: 36px;
    font-weight: 800;
    
}
.logo > h2 > span{
    color: #FF5400;
}

.menu-area > ul{
    display: flex;
    gap: 40px;
}
.menu-area > ul li{
    list-style: none;
    text-decoration: none;
    }
.menu-area > ul a{
    list-style: none;
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s;
}
.menu-area > ul a:hover{
    color: #FF5400;
    /* font-weight: bold; */
}

/* Hero Section CSS */
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(255, 255, 255, 0.034)),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    text-align: center;
    padding: 0 150px;
}
.hero-text > h2{
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
 }
.hero-text > p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 20px 0;
}
.hero-search-area{
    background-color: #fff;
    padding: 20px;
    opacity: .5;
    border-radius: 8px;
    
}
.hero-search-area > form{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
}
form > input[type=text] , select , button{
    width: 24%;
    color: rgba(19, 19, 24, 0.50);
    background-color: #ff0000;
    border-radius: 8px;
    padding: 10px;
    border: 0;
    outline: 0;

}
/* Our Popular Tours */
.popular-tour-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
}
.popular-tour-text > ul{
    padding-left: 30px;
    
    margin-top: 10px;
}
.popular-tour-text > ul li{
    margin-bottom: 10px;
}

.popular-tour-img img{
    width: 100%;
}
.popular-tour-text > button{
    width: 150px;
    margin-top: 30px;
}

/* Responsive */
@media screen and (max-width:600px) {

    /* Hero CSS */
    .nav-area{
        display: none;
    }
    .hero-section{
        background-size: cover;
        background-position: center;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .hero-text > h2{
      
        font-size: 30px;
        
     }
    .hero-text > p{
        
        font-size: 14px;
        
    }
    .hero-content{
        text-align: center;
        width: 90%;
        padding: 0;
    }
    .hero-search-area > form{
        display: flex;
        width: 100%;
        /* justify-content: space-between; */
        flex-direction: column;
        gap: 15px;
    }
    form > input[type=text] , select , button{
        width: 100%;
           
    }
    /* Our Popular Tours */
    .popular-tour-content{
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        
    }
}